

.pagination{
  display: flex;
  justify-content: center;

  .link{
    text-decoration: none;
    display: inline-block;
    width: 34px;


    &.active{
      font-weight: bold;
      text-decoration: underline;
    }
  }
}