.juji-post-content{

  --paragraph-padding: 1.7rem;

  & [data-bright-theme]{
    margin: 0 !important;
    padding-top: 0;
    padding-bottom: var(--paragraph-padding) !important;
  }

  & p, & .juji-p-bottom {
    padding-bottom: var(--paragraph-padding);
  }

  & h2{
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  & h3{
    font-size: 1.7rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  & img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
  }

  & iframe {
    display: block;
    margin: 0 auto;
  }

  & figcaption{
    padding-top: 0.3rem;
    padding-bottom: var(--paragraph-padding);
    font-size: 0.9rem;
    text-align: center;
    color: #b5b5b5;
  }

  & .juji-centered{
    display: flex;
    justify-content: center;
  }

  & .juji-grid{
    display: grid;
    grid-template-columns: repeat(var(--grid-column,2), 1fr);
    gap: 1rem;
    padding-bottom: var(--paragraph-padding);
  }

  & .juji-ratio169{
    aspect-ratio: 16 / 9;
    width: 100%;
    padding-bottom: var(--paragraph-padding);

    &>*{
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  & .juji-code{
    background-color: #333;
    padding: 2px 4px;
    border-radius: 3px;
    color: rgb(255, 166, 0);
    font-family: 'Courier New', Courier, monospace;
  }

}