.juji-post-content{

  & img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 21px auto; 
  }

  & iframe {
    display: block;
    margin: 21px auto;
  }

  & .ratio169{
    aspect-ratio: 16 / 9;
    width: 100%;

    &>*{
      width: 100% !important;
      height: 100% !important;
    }
  }

}