

.post{

  & > .header {

    margin-top: 0rem;
    margin-bottom: 2rem;
    
    @media screen and (min-width:640px){
      margin-top: 2rem;
    }

    & > h1{
      font-size: 2rem;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 1.68rem;

      @media screen and (min-width:640px){
        font-size: 3rem;
      }
    }

    & > .dateShare {

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem;
      
      & .dateTime{
        color: var(--muted-color);
        font-size: 0.9rem;
        margin-right: 1rem;
      }
    }
  }

  & .tags {
    margin-bottom: 1rem;

    & > a {
      margin-right: 8px;
      display: inline-block;
    }
  }


  & > .postImage {

    margin-bottom: 2rem;

    & > img{
      display: block;
      max-width: 100%;
    }

  }

}