

.post{

  & > .header {

    margin-top: 2rem;
    margin-bottom: 2rem;

    & > h1{
      font-size: 3rem;
      font-weight: bold;
      line-height: 3.7rem;
      margin-bottom: 1.68rem;
    }

    & > span{
      color: var(--muted-color);
    }
  }


  & > .postImage {

    margin-bottom: 2rem;

    & > img{
      display: block;
      max-width: 100%;
    }

  }

}