

.post{

  & > .header {

    margin-top: 2rem;
    margin-bottom: 2rem;

    & > h1{
      font-size: 3rem;
      font-weight: bold;
      line-height: 3.7rem;
      margin-bottom: 1.68rem;
    }

    & > div {

      display: flex;
      justify-content: space-between;
      align-items: center;
      
      & .dateTime{
        color: var(--muted-color);
        font-size: 0.9rem;
        margin-right: 1rem;
      }
    }
  }


  & > .postImage {

    margin-bottom: 2rem;

    & > img{
      display: block;
      max-width: 100%;
    }

  }

}