
.shareBlockElm {

  display: grid;
  grid-template-columns: 100%, repeat(3, auto);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 8px;
  border: 1px solid #393939;
  border-radius: 5px;
  margin: 0 auto;
  width: auto;
  max-width: 230px;

  &:before{
    content: 'Share Buttons';
    display: block;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    align-self: center;
    justify-self: left;
    border-bottom: 1px solid #393939;
    background: #1c1c1c;
    padding: 0.8rem 1rem;
  }

  @media screen and (min-width: 640px){
    grid-template-columns: 100%, repeat(9, auto);
    grid-template-rows: 1fr 1fr;
    max-width: none;
    &:before{
      grid-column-end: 10;
    }
  }

  & button, & a{
    align-self: center;
    justify-self: center;
  } 

  & button {
    padding: 0 !important;
    margin: 0 !important;
    transition: none !important;

    &:hover{
      transform: none !important;
    }

    & img{
      mix-blend-mode: normal !important;
    }
  }

  & button.custom, & a.custom{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0;
    color: white;
    padding: 0;

    cursor: pointer;

    & svg{
      width: 32px;
      height: auto;
    }
  }
}

.shareButtonSmall{

  border-radius: 50%;
  border: 1px solid var(--link-color);
  width: 42px;
  height: 42px;
  font-size: 21px;
  background: transparent;
  color: var(--link-color);
  cursor: pointer;

  &:hover{
    background-color: var(--link-color-hover);
    color: black;
  }

  &:active{
    background-color: var(--link-color-active);
    color: black;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  & > span{
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    left: -1px;
    
    & > svg{
      display: block;
      margin: auto;
    }
  }

}

.shareButtonBig{
  
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 21px;
  border: 0;
  background-color: var(--link-color);
  border-radius: var(--border-radius);

  cursor: pointer;

  &:hover{
    background-color: var(--link-color-hover);
  }

  &:active{
    background-color: var(--link-color-active);
  }
}

