


.shareButtonSmall{

  border-radius: 50%;
  border: 1px solid var(--link-color);
  width: 42px;
  height: 42px;
  font-size: 21px;
  background: transparent;
  color: var(--link-color);
  cursor: pointer;

  &:hover{
    background-color: var(--link-color-hover);
    color: black;
  }

  &:active{
    background-color: var(--link-color-active);
    color: black;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  & > span{
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    left: -1px;
    
    & > svg{
      display: block;
      margin: auto;
    }
  }

}

.shareButtonBig{
  
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 21px;
  border: 0;
  background-color: var(--link-color);
  border-radius: var(--border-radius);

  cursor: pointer;

  &:hover{
    background-color: var(--link-color-hover);
  }

  &:active{
    background-color: var(--link-color-active);
  }
}

