


.shareButtonSmall{

  --button-bg-col: #93ff2a;

  border-radius: 50%;
  border: 1px solid var(--button-bg-col);
  width: 42px;
  height: 42px;
  font-size: 21px;
  background: transparent;
  color: var(--button-bg-col);
  cursor: pointer;

  &:hover{
    background: hsl(from var(--button-bg-col) h s calc(l + 0.05));
    color: black;
  }

  &:active{
    background: hsl(from var(--button-bg-col) h s calc(l - 0.1));
    color: black;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  & > span{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -1px
  }

}

.shareButtonBig{

  --button-bg-col: #93ff2a;
  
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 21px;
  border: 0;
  background-color: var(--button-bg-col);

  cursor: pointer;

  &:hover{
    background-color: hsl(from var(--button-bg-col) h s calc(l + 0.05))
  }

  &:active{
    background-color: hsl(from var(--button-bg-col) h s calc(l - 0.1))
  }
}

