

.hero{

  margin-bottom: 3rem;

  & .big{
    font-size: 3rem;
    @media screen and (min-width: 522px) { 
      font-size: 5rem;
    }
    font-weight: bold;
  }

  & .what{
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
    @media screen and (min-width: 522px) { 
      font-size: 2rem;
    }
  }

  & .note{
    font-size: 1rem;

    &>span{
      white-space: nowrap;
    }
  }
  
}

.rainbow{
  margin-top: 3rem;

  width: 100%;
	height: 2px;
  border-radius: 2px;
	background-repeat:repeat-x;
	background: linear-gradient(to right, 
    #eb5252, 
    #f78f2f,
    #f4c151,
    #75d850, 
    #6284FF, 
    #eb5252
 	);
	animation: rainbow 10s linear infinite;
	background-size: 200% 100% !important;
}

@keyframes rainbow{
  0% {background-position: 0;}
  100% {background-position: 800% 0;}
}
