

.juji-tree{

  & > .juji-tree-line{

    padding-left: calc(var(--juji-tree-pad,0) * 1rem);
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-out;
    
    &.juji-tree-expandable{
      grid-template-rows: 0fr;

      &.juji-tree-open{
        grid-template-rows: 1fr;
      }
    }

  }
  
}
