:root{

  --bg-color: #161616;
  --text-color: hsla(0,0%,93%,1);
  --link-color: rgb(7, 218, 7);
  --content-width: 800px;
  --pading-lr: 2rem;

}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.78;
  background-color: var(--bg-color);
  color: var(--text-color);

  font-size: 1.05rem;
}

a{
  color: var(--link-color);
}

pre{
  font-family: monospace;
}
