

.tableHeaderContainer{
  position: relative;
  width: 100%;
  overflow: auto;

  &>table{
    width: 100%;
    font-size: 1.2rem;
    caption-side: bottom;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */

    &>thead{
      &>tr{
        border-bottom: 2px solid #565656;

        &>th{
          padding: 1rem;
          font-weight: bold;
          text-align: left;
        }
      }
    }

    &>tbody{

      &>tr{
        border-top: 1px solid #3b3b3b;

        &>td{
          padding: 1rem;
        }
        
        &:last-child{
          border: 0px;
        }
      }

    }

    &>tfoot{
      border-top: 1px solid #3b3b3b;
      font-weight: 500;
    }

  }
}
