

.footer{
  width: 100%;
  font-size: 0.9rem;

  & > .footerSpacer{
    height: var(--footer-height);
  }

  & > .footerContentContainer{
    background: var(--footer-bg);
    height: var(--footer-height);
    width: 100%;
    position: fixed;
    z-index: 0;
    bottom: 0;
    left:0;
    padding: 0 var(--pading-lr);
    /* margin-bottom: 5rem; */

    
    & > .footerContent{
      max-width: var(--content-width);
      color: var(--footer-text-color);
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & a {
        color: var(--footer-text-color);
      }

      & .footerLeft{
        & .jujiyangasli{
          font-size: 1.5rem;
        }
      }

    }
  }

  /* & > .footerAd{
    height: 5rem;
    width: 100%;
    position: fixed;
    z-index: 3;
    bottom: 0;
    left:0;
    background: var(--bg-color);
    border-top: 1px solid #333;
  } */
}