

.main{

  padding: 3rem var(--pading-lr);
  padding-top: calc(var(--header-height) + 3rem);
  padding-bottom: 8rem;
  
  position: relative;
  z-index: 2;
  background: var(--bg-color);
  min-height: calc(100% - var(--footer-height));
  /* border-bottom: 3px solid rgba(0,0,0,0.2); */
  border-bottom: var(--border-bottom);
  box-shadow:
    0px 4.3px 1.1px rgba(0, 0, 0, 0.061),
    0px 12.9px 16px rgba(0, 0, 0, 0.118),
    0px 100px 80px rgba(0, 0, 0, 0.16)
  ;
  
  & > .mainContent{
    max-width: var(--content-width);
    margin: 0 auto;
  }
}